@charset "utf-8";

/* -------------------------------------------------------------------
  파일정의 : 레이아웃
  속성순서 : 레이아웃 > 사이징 > 박스 > 글자 > 기타
  분류순서 : @Common, @Header, @Container, @Footer
------------------------------------------------------------------- */

/* -------------------------------------------------------------------
  @Common
------------------------------------------------------------------- */
/* -------- Cursor -------- */
* {
  // Tablet ~
  @include respond-to("tablet-") {
    // cursor: none;
  }
}
.site-cursor {
  position: fixed;
  z-index: 9999;
  transform: scale(0);
  transition: transform 0.2s;
  pointer-events: none;

  &::after {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #2128bd;
    transform: translate(-50%, -50%);
    content: "";
  }

  // Event
  @at-root body:hover & {
    transform: scale(1);
  }
  &.is_active {
    mix-blend-mode: exclusion;
    animation: pounding 0.7s linear infinite alternate;

    @keyframes pounding {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(2.2);
      }
    }
  }
}

/* -------- Grid -------- */
.inner {
  position: relative;
  max-width: 1140px;
  margin: auto;
  padding: 0 18px;

  // Tablet ~
  @include respond-to("tablet-") {
    padding: 0;
  }
}

/* -------------------------------------------------------------------
  @Header
------------------------------------------------------------------- */
.header {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2100;
  width: 100%;
  padding: 4px 18px 12px 5px;
  background-color: rgba(255, 255, 255, 0.9);
  justify-content: space-between;
  align-items: center;
  transition: top 0.4s ease;

  a {
    display: block;
  }

  &__logo {
    position: relative;
    z-index: 10;

    img {
      width: 52px;
    }
    span {
      display: block;
      margin: -8px 0 0 12px;
      font-weight: 600;
      font-size: 10px;
      color: #0072ff;
    }
  }

  /* GNB */
  .gnb {
    &__btn {
      position: relative;
      z-index: 10;
      width: 40px;
      height: 40px;
      padding-top: 8px;
      outline: none;

      span {
        display: block;
        position: relative;
        top: 0;
        width: 20px;
        height: 2px;
        margin: 4px 0 4px auto;
        background: #333;
        transition: top 0.3s 0.3s, transform 0.3s;
      }

      // Event
      &.is_active {
        span {
          transition: top 0.3s, transform 0.3s 0.3s;

          &:first-child {
            top: 4px;
            transform: rotate(45deg);
          }
          &:last-child {
            top: -2px;
            transform: rotate(-45deg);
          }
        }
      }
    }
    &__menu {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background: #fff;

      ul {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
      }
      a {
        font-weight: 700;
        font-size: 4rem;
        line-height: 7rem;
        color: #333;
        text-align: center;

        // Event
        &:hover,
        &:focus,
        &:active {
          font-weight: 700;
          color: #00c6ff;
          text-decoration: underline;
        }
      }
    }
  }

  // Tablet ~
  @include respond-to("tablet-") {
    &__logo {
      img {
        width: 90px;
      }
      span {
        margin-left: 25px;
        font-size: 12px;
      }
    }
  }

  // Desktop ~
  @include respond-to("desktop-") {
    padding: 30px 46px 30px 22px;

    &__logo {
      img {
        width: 100px;
      }
      span {
        margin-left: 30px;
        font-size: 13px;
      }
    }

    /* GNB */
    .gnb {
      &__btn {
        display: none;
      }
      &__menu {
        display: block;
        position: static;
        width: auto;
        height: auto;
        background: none;

        ul {
          display: flex;
          position: static;
          transform: none;
        }
        li {
          margin-left: 40px;
        }
        a {
          font-size: 17px;
        }
      }
    }
  }
}

/* -------------------------------------------------------------------
  @Footer
------------------------------------------------------------------- */
.footer {
  position: relative;
  z-index: 10;
  padding: 25px 0;
  background-color: #f8f8f8;

  p {
    margin-top: 10px;
    font-size: 12px;
    line-height: 16px;
    color: #999;

    &:first-child {
      margin: 0;
    }
  }

  // Desktop ~
  @include respond-to("desktop-") {
    .inner {
      display: flex;
      justify-content: center;

      p {
        margin: 0 0 0 10px;
        font-size: 14px;
      }
    }
  }
}
